{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Content: {{ task.content }}</h1>
      </div>
      <div class="col-md-4 text-right">
        <a href="{% url "todo:task-update" pk=task.id %}" class="btn btn-secondary link-to-page">Update</a>
        <a href="{% url "todo:task-delete" pk=task.id %}" class="btn btn-danger link-to-page">Delete</a>
      </div>
    </div>

    <p><strong>Is done:</strong> {{ task.is_done }}</p>
    <p><strong>Created at:</strong> {{ task.created_datetime }} </p>
    {% if task.deadline_datetime %}
      <p><strong>Deadline:</strong> {{ task.deadline_datetime }}</p>
    {% endif %}

    <div class="row mt-4">
      <div class="col-md-12">
        {% if task.is_done %}
          <a href="{% url "todo:task-undo" pk=task.id %}" class="btn btn-primary">Undo</a>
        {% else %}
          <a href="{% url "todo:task-complete" pk=task.id %}" class="btn btn-success">Complete</a>
        {% endif %}
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <h4>Tags:</h4>
        {% for tag in task.tags.all %}
          <hr>
          <p class="text-muted"><strong>ID:</strong> {{ tag.id }} </p>
          <p>
            <strong>Tag:</strong>
            {{ tag.name }}
          </p>
        {% empty %}
          <p>There are no tags!</p>
        {% endfor %}
      </div>
    </div>

  </div>
{% endblock %}
