{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6 text-center">
        <h1 class="display-4">{{ object|yesno:"Update,Create" }} Task</h1>
      </div>
    </div>

    <div class="row justify-content-center mt-3">
      <div class="col-md-6">
        <form action="" method="post" novalidate enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}

          <div class="mt-4">
            <button class="btn btn-primary btn-lg" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
